*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', Sans-Serif;
  box-sizing: border-box;
}


.container{
  width: 100%;
  height: 100vh;
  background: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator{
  background: #e3e3;
  padding: 30px;
  border-radius: 10px;
  margin-block: 5px;
}
.calculator form input{
  border: 0;
  outline-color: 0;
  width: 70px;
  height: 70px;
  border-right: 10px;
  box-shadow: -8px -8px 15px rgba(225, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
form .display{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .display input{
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
form input.equal{
  width: 145px;
}
form input.operator{
  color: #33ffde;
}